.menu {
  margin-bottom: 12px;
}

.menu a {
  display: inline-block;
  margin-bottom: -1px;
  margin-right: 12px;
}

.menu a.active {
  font-weight: bold;
  background-color: white;
}

.menu-level-0 {
  border-bottom: 1px solid #eaeaea;
}

.menu-level-0 a {
  padding: 12px;
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  font-size: 1.5rem;
  text-decoration: none;
  margin-right: 6px;
}

.breadcrumbs {
  padding-bottom: 12px;
  margin-bottom: 12px;
  font-size: 90%;
}

.breadcrumbs .item {
  display: inline-block;
}

.breadcrumbs .item:first-child::before {
  display: none;
}

.breadcrumbs .item::before {
  content: "▸";
  margin: 0 12px;
}
